
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid ;
  justify-content: space-between;

 
}

.todo{
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid;
  justify-content: space-between;
}

.check {
  color: green;
  text-decoration: line-through;
}


.partie-haute {
  display: flex;
  align-items: first baseline;
}

.partie-basse {    
  display: flex;
  align-items: first baseline;
}
