body {
  font-family: Arial, sans-serif;
  background-color: bisque;
}

h1 {
  text-align: center;
  color: blue;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: black
  }

#app {
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid ;
}

.todo{
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid;
  justify-content: space-between;
}

.check {
  color: green;
  text-decoration: line-through;
}

.partie-haute {
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid ;
  justify-content: space-between;
}

.partie-basse {    
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 1px solid ;
  justify-content: space-between;
}
